@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Viaoda+Libre&display=swap");

/* !core */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: #dc5853;
  font-size: 16px;
  --default-font: "Open Sans", sans-serif;
  --description-font: "Viaoda Libre", cursive;
}

/* !tags */
body {
  background: rgb(235, 235, 235);
  font-family: var(--default-font);
}

/* !class and ID */

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  margin-top: 70px;
}

.underline {
  height: 5px;
  width: 90px;
  background: var(--red);
  margin: 10px 0;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  height: 70px;
  margin: auto;
}

.filter-btn {
  background: transparent;
  border: none;
  font-size: 1rem;
  transition: .3s;
  cursor: pointer;
  width: 100%;
}

.filter-btn:hover {
  text-shadow: var(--red) 0px 5px 15px;
  opacity: .7;
  font-size: 1.1rem;
}


/* grid */

.section-center-grid {
  display: grid;
  justify-items: center;
  gap: 1rem 2rem;
  width: 80%;
  margin: auto;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  margin: 20px 0;
}
img {
  width: 100%;
}
.photo {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
  margin-bottom: 20px;
}

.photo:hover {
  box-shadow: var(--red) 0px 5px 15px;
}

.menu-item header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--red);
  margin-bottom: 16px;
  font-size: 1.2rem;
}

.menu-item header h4 {
  font-family: var(--description-font);
}

.menu-item header strong {
  color: var(--red);
  font-size: 1.2rem;
}
.description-text {
  font-size: 1rem;
}
/* Mediaqueries */

@media (min-width: 768px) {
  .menu-item {
    flex-direction: row;
    max-width: 700px;
  }
  .photo {
    max-height: 150px;
    max-width: 250px;
    margin: 0 20px 0 0;
  }
}
@media (min-width: 1200px) {
  .section-center-grid {
    max-width: 1200px;
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
  .photo {
    max-width: 220px;
  }
}
